.about {
  width: 100%;
  height: auto;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-brown);
  color: var(--color-beige);
}

.about > h2 {
  margin: 1em 0 2em 0;
  font-size: 2.5em;
  text-align: center;
}

.about > p {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  font-size: 20px;
  width: 50vw;
}

.about-button{
    margin: 1em;
    display: flex;
    gap: 3em;
}

.about-button_item{
  color: var(--color-beige);
  padding: 1em 3em;
  border-radius: 40px;
  text-decoration: none;
  margin: 2.5em 0;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid;
}


@media (max-width: 999px) {
    .about > p {
        width: 90%;
    }

    .about-button{
        flex-direction: column;
        gap: 1.5em;
    }

    .about-button_item{
        margin: 0;
    }
}
